<!DOCTYPE html>

<html lang="en-us">
<head>
    <title>ThunderDocs | Index</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css"/>


    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class=" index"
      data-admin-utc-offset="-10800">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/">ThunderDocs</a></h1>
        </div>
    </div>
    <!-- END Header -->


    <!-- Content -->
    <div id="content" class="colM">

        <div id="content-main">

                <div class="text-center w-100">
                    <p><strong>Projetos</strong></p>
                        <ul class="btn-list">
                            {% for project in projects %}
                            <li>
                                <a class="btn btn-project" href="/{{ project.slug }}">{{ project.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                </div>

        </div>

        <br class="clear"/>
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>